@import '~bootstrap/scss/bootstrap';

$accordion-button-bg: #292D3D;
$accordion-button-color: #ddd;
$accordion-button-active-bg: #292D3D;
$accordion-button-active-color: #ddd;
$accordion-button-padding-y: 5px;

$accordion-border-color: #999;
$accordion-icon-width: 1.25rem;
$accordion-icon-color: #ddd;
$accordion-icon-active-color: #ddd;
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

$accordion-bg: #292D3D;
$accordion-color: #ddd;

$accordion-button-focus-box-shadow: none;
@import '~bootstrap/scss/bootstrap';